<div class="nav-container">
  <div class="user-logged">
    <div mat-card-avatar class="avatar"></div>
    <div class="nickname">User Logged</div>
  </div>
  <br />
  <div class="section">
    <a class="btn" href="#"><mat-icon class="icon">add_box</mat-icon>Storage</a>
  </div>
  <div class="section">
    <a class="btn" href="#"
      ><mat-icon class="icon">person_add_alt_1</mat-icon>Clients</a
    >
  </div>
  <div class="section">
    <a class="btn" href="#"
      ><mat-icon class="icon">person_remove</mat-icon>Providers</a
    >
  </div>
  <div class="section">
    <a class="btn" routerLink="/employees/list"
      ><mat-icon class="icon">engineering</mat-icon>Employees</a
    >
  </div>
  <div class="section">
    <a class="btn" routerLink="/users/list"
      ><mat-icon class="icon">people_alt</mat-icon>Users</a
    >
  </div>
  <br />
  <br />
  <div class="section">
    <a class="btn" href="#"
      ><mat-icon class="icon">add_shopping_cart</mat-icon>Shopping</a
    >
  </div>
  <div class="section">
    <a class="btn"><mat-icon class="icon">attach_money</mat-icon>Sales</a>
  </div>
  <div class="section">
    <a class="btn" href="#"
      ><mat-icon class="icon">money_off</mat-icon>Returns</a
    >
  </div>
</div>
