.container {
  width: 100%;
  background-color: white;
}

.content {
  width: 100%;
}

table,
.page {
  width: 100%;
}

.action-section {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 5px 0 5px;
}

.textbox {
  width: 100%;
}

.textbox-filter {
  width: 80%;
  margin: 10px 10% 20px 10%;
}

.btn-create {
  margin-bottom: 20px;
}

.create {
  width: 80%;
}

h1 {
  padding: 50px 0 0 50px;
}
